.owl-theme .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    pointer-events: none;
}

.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
    background: none;
    border: none;
    font-size: 2rem;
    color: whitesmoke;
    pointer-events: auto;
    cursor: pointer;
}

.owl-theme .owl-nav button.owl-prev:hover,
.owl-theme .owl-nav button.owl-next:hover {
    color: #ef516c;
}
