<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"  />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/home_style.css}" />
</head>

<main layout:fragment="content">
    <div class="owl-carousel owl-theme" id="film-carousel">
        <div class="item"><img th:src="@{/images/xi-trum.jpg}" alt="Xì Trum"></div>
        <div class="item"><img th:src="@{/images/con-nit-quy.jpg}" alt="Con Nít Quỷ"></div>
        <div class="item"><img th:src="@{/images/cong-tu-bac-lieu.jpg}" alt="Công tử Bạc Liêu"></div>
        <div class="item"><img th:src="@{/images/moana.jpg}" alt="Moana"></div>
        <div class="item"><img th:src="@{/images/dieu-uoc-cuoi-cung.jpg}" alt="Điều Ước Cuối Cùng"></div>
    </div>

    <section id="carousel-section">
        <h2 class="carousel-title">Phim đang chiếu</h2>
        <div class="owl-carousel owl-theme" id="movie-carousel">
            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Phim-Xi-trum(poster).jpg}" alt="Xì Trum " class="film-poster">
                <div class="film-info">
                <h3>Xì Trum</h3>
                <p><strong>Thể loại:</strong> Hoạt hình</p>
                <p class="runtime"><i class="fa-solid fa-clock"></i> 100 phút</p>

                <p>Câu chuyện trở lại với ngôi làng Xì Trum, nơi mà mỗi ngày đều là lễ hội. Bỗng một ngày, sự yên bình của ngôi làng bị phá vỡ khi Tí Vua bị bắt cóc một cách bí ẩn bởi hai phù thủy độc ác Gà Mên và Cà Mên. Từ đây, Tí Cô Nương phải dẫn dắt các Tí đi vào thế giới thực để giải cứu ông. Với sự giúp đỡ của những người bạn mới, các Tí sẽ bước vào cuộc phiêu lưu khám phá định mệnh của mình để cứu lấy vũ trụ.</p>
                <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Dieu-uoc-cuoi-cung(poster).jpg}" alt="Điều Ước Cuối Cùng" class="film-poster">
                <div class="film-info">
                <h3>Điều Ước Cuối Cùng</h3>
                <p><strong>Thể loại:</strong> Gia Đình, Hài</p>
                <p>Hoàng đã nhờ hai người bạn chí cốt là Thy và Long giúp anh hoàn thành tâm nguyện cuối cùng: trở thành người đàn ông trưởng thành trước khi ra đi. Những nỗ lực của bạn bè và gia đình đã giúp Hoàng nhận ra rằng hạnh phúc lớn nhất của mình không phải là việc trở thành “đàn ông”, mà là được sống bên cạnh những người tuyệt vời, luôn yêu thương và hỗ trợ mình.</p>
                 <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Conan-Du-anh-cua-doc-nhan(poster).jpg}" alt="Thám Tử Lừng Danh Conan" class="film-poster">
                <div class="film-info">
                <h3>Thám Tử Lừng Danh Conan</h3>
                <p><strong>Thể loại:</strong> Bí Ẩn, Phiêu Lưu</p>
                <p>Tại Nagano, Conan và các thám tử điều tra một vụ án liên quan quá khứ. Thanh tra Kansuke phải đối mặt ký ức đau thương từ trận tuyết lở. Mori Kogoro nhận cuộc gọi hé lộ vụ án cũ. Sự xuất hiện của Morofushi Takaaki, Amuro Tooru, Kazami và cảnh sát Tokyo làm vụ việc phức tạp hơn. Khi quá khứ và hiện tại đan xen, bí ẩn hé lộ, và ký ức của Kansuke là chìa khóa.</p>
                 <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Con-nit-quy(poster).jpg}" alt="Con Nít Quỷ" class="film-poster">
                <div class="film-info">
                <h3>Con Nít Quỷ</h3>
                <p><strong>Thể loại:</strong> Kinh dị</p>
                <p>Hai mươi năm sau thảm kịch Jatijajar, Ummu Sibyan lại gieo rắc kinh hoàng tại làng Giritirto. Sau cuộc ẩu đả, 8 đứa trẻ thất bại đã nguyền rủa đội thắng, vô tình đánh thức thế lực tà ác bị chôn vùi. Giữa rừng sâu và bóng đêm, quỷ dữ nuốt chửng linh hồn một đứa trẻ, mở màn cho cuộc săn đuổi điên loạn.</p>
                <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Ga-tu-than(poster).jpg}" alt="Gã Tử Thần" class="film-poster">
                <div class="film-info">
                <h3>Gã Tử Thần</h3>
                <p><strong>Thể loại:</strong> Kinh dị</p>
                <p>Da Gyeong (Joo Hyun Young), một YouTuber đang "flop", quyết tâm cứu vãn kênh bằng cách khám phá ga tàu điện ngầm Gwanglim – nơi đầy rẫy truyền thuyết đô thị và các vụ mất tích bí ẩn. Được dẫn dắt bởi người gác ga kỳ lạ (Jeon Bae Soo), cô không ngờ chuyến đi lại đẩy mình vào vòng xoáy tâm linh rùng rợn. Chỉ khi chạm đến "đích cuối" của chuyến tàu định mệnh, cô mới có thể tìm được lối thoát.</p>
                 <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Mua-he-kinh-hai(poster).jpg}" alt="Mùa Hè Kinh Hãi" class="film-poster">
                <div class="film-info">
                <h3>Mùa Hè Kinh Hãi</h3>
                <p><strong>Thể loại:</strong> Kinh dị</p>
                <p>Năm người bạn vô tình gây ra vụ tai nạn chết người và lập giao ước giữ bí mật. Một năm sau, quá khứ trở lại ám ảnh: có kẻ biết sự thật và quyết tâm trả thù. Khi từng người bị truy sát, họ phát hiện đây không phải lần đầu và tìm đến hai người sống sót từ vụ thảm sát Southport 1997 để cầu cứu.</p>
                 <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/Superman(poster).jpg}" alt="Superman" class="film-poster">
                <div class="film-info">
                <h3>Superman</h3>
                <p><strong>Thể loại:</strong> Hành Động, Phiêu Lưu</p>
                <p>Mùa hè này, Warner Bros. Pictures sẽ trình làng bộ phim "Superman" đầu tiên từ DC Studios trên toàn cầu. Đạo diễn James Gunn sẽ mang đến một hình ảnh Superman hoàn toàn mới trong vũ trụ DC, kết hợp độc đáo giữa hành động đỉnh cao, yếu tố hài hước và cảm xúc sâu sắc. Khán giả sẽ được chứng kiến một Superman tràn đầy lòng trắc ẩn và niềm tin vào thiện lương của con người.</p>
                 <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>

            <div class="item">
            <div class="film-box">
                <img th:src="@{/images/To-doi-gau-nhi-Du-hi-4-phuong(poster).jpg}" alt="Tổ Đội Gấu Nhí Du Hí 4 Phương" class="film-poster">
                <div class="film-info">
                <h3>Tổ Đội Gấu Nhí Du Hí 4 Phương</h3>
                <p><strong>Thể loại:</strong> Gia Đình, Hoạt Hình</p>
                <p>Do lỗi shipper, gấu Mic Mic dấn thân vào cuộc phiêu lưu xuyên lục địa tìm lại bé con. Cùng bạn bè, anh đối mặt nhiều loài vật khác nhau. Mic Mic phát hiện gấu con bị trăn và kền kền bắt cóc, buộc cả đội phải hợp sức giải cứu để tìm lại hạnh phúc gia đình.</p>
                 <a href="#" class="btn"><i class="fa fa-ticket"></i> Đặt vé</a>
                </div>
            </div>
            </div>
            <!-- Các phim khác tương tự -->
        </div>
        </section>

    </div>

    <section id="promotions-section">
        <h2 class="carousel-title">Khuyến mãi và sự kiện</h2>
        <div class="owl-carousel owl-theme" id="promotion-carousel">
            <a href="#">
                <img th:src="@{/images/bang-gia-kid(pr).jpg}" alt="promotionimg" class="film-poster">
            </a>
            <a href="#">
                <img th:src="@{/images/dia-chi-rap(pr).jpg}" alt="promotionimg" class="film-poster">
            </a>
            <a href="#">
                <img th:src="@{/images/ngay-hoi-dien-anh.jpg}" alt="promotionimg" class="film-poster">
            </a>
            <a href="#">
                <img th:src="@{/images/thu-2-dau-thang(pr).jpg}" alt="promotionimg" class="film-poster">
            </a>
            <a href="#">
                <img th:src="@{/images/thu-3-hang-tuan(pr).jpg}" alt="promotionimg" class="film-poster">
            </a>
            <a href="#">
                <img th:src="@{/images/uu-dai-combo(pr).jpg}" alt="promotionimg" class="film-poster">
            </a>

        </div>
        
    </section>



    <!-- jQuery + Owl Carousel -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Custom JS -->
    <script th:src="@{/js/home.js}"></script>
</main>