<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Danh sách phim</title>
</head>
<body>
<main layout:fragment="content">
  <h2>🎬 Danh sách phim</h2>
  <table border="1" cellpadding="8" cellspacing="0">
    <tr>
      <th>ID</th>
      <th>Tên phim</th>
      <th>Thể loại</th>
      <th>Thời lượng</th>
    </tr>
    <tr th:each="movie : ${movies}">
      <td th:text="${movie.id}"></td>
      <td th:text="${movie.title}"></td>
      <td th:text="${movie.genre}"></td>
      <td th:text="${movie.duration} + ' phút'"></td>
    </tr>
  </table>
</main>
</body>
</html>
