<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Khuyến Mãi | TITACHI Cinema</title>
  <link rel="stylesheet" th:href="@{/css/promotions_style.css}" />
</head>

<main layout:fragment="content">
    <div class="container">
            <p>Khám phá thế giới điện ảnh với những bộ phim hấp dẫn nhất!</p>
            <h2>Khuyến Mãi Hấp Dẫn!</h2>
            <div class="promo-grid">
                <div class="promo-card"><img src="images/KM1.jpg"><h3>Tuần lễ phim Việt</h3><p>Đồng giá 45k!</p><a href="#">Mua Vé</a></div>
                <div class="promo-card"><img src="images/KM2.jpg"><h3>Ngày hội thiếu nhi</h3><p>Combo 69k!</p><a href="#">Mua Vé</a></div>
                <div class="promo-card"><img src="images/KM3.jpg"><h3>Ưu đãi tiết kiệm</h3><p>Combo 150k!</p><a href="#">Mua vé</a></div>
                <div class="promo-card"><img src="images/KM4.jpg"><h3>Chính sách thành viên</h3><p>Ưu đãi cho VIP</p><a href="#">Xem Chi Tiết</a></div>
                <div class="promo-card"><img src="images/KM5.jpg"><h3>Happy Day</h3><p>Mua 1 tặng 1</p><a href="#">Xem Ngay</a></div>
                <div class="promo-card"><img src="images/KM6.jpg"><h3>Bảng giá vé</h3><p>Click để xem chi tiết</p><a href="#">Xem chi tiết</a></div>
                <div class="promo-card"><img src="images/KM7.jpg"><h3>Thông Báo</h3><p>Reset điểm 2024</p><a href="#">Xem chi tiết</a></div>
                <div class="promo-card"><img src="images/KM8.jpg"><h3>Thẻ Thành Viên</h3><p>Tích điểm đổi quà</p><a href="#">Xem Ngay</a></div>
        <div class="promo-card">
        <img src="images/KM9.jpg" alt="Ưu đãi học sinh sinh viên">
        <h3>Ưu đãi U22</h3>
        <p>Vé chỉ 45k</p>
        <a href="#">Xem Ngay</a>
    </div>
    <div class="promo-card">
        <img src="images/KM10.jpg" alt="Giờ vàng xem phim">
        <h3>TITACHI in your area</h3>
        <p>Địa chỉ rạp TITACHI</p>
        <a href="#">Chi Tiết</a>
    </div>
    <div class="promo-card">
        <img src="images/KM11.jpg" alt="Ưu đãi cuối tuần">
        <h3>Cuối Tuần Vui Vẻ</h3>
        <p>Thiếu nhi TITACHI</p>
        <a href="#">Xem ngay</a>
    </div>
    <div class="promo-card">
        <img src="images/KM12.jpg" alt="Tích điểm đổi quà">
        <h3>Tích Điểm</h3>
        <p>Bảng vé vàng TITACHI</p>
        <a href="#">Xem Ngay</a>
    </div>
        </div>
</main>



</html>